

h1{
	font-family: "Times New Roman", serif;
	border: 1px black solid;
	border-radius: 6px;
	background-color: rgba(192,192,192,0.5); /*transparent gray*/
	
	color: #e59400;
	font-size:100px; 
	text-align:center; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body{
	font-family: "Calibri", sans-serif;
	margin-left: 20px;
	/*text-align:center;*/
	font-size: 13pt;
    background: white url(http://i68.photobucket.com/albums/i7/newphew92/bagel_zps29e40f4c.jpg) no-repeat top center;
    /*          bg colour image         repeat-y: repeat on yaxis; bg position*/

}

p{
	border: 1px black solid;
	border-radius: 6px;
	background-color: rgba(200,200,200,0.8);

}

li{
	list-style: none;
	font-size:12pt;

}
a{
	font-size: 15pt;

	/*display: block;*/
	/*why the hell does display block works this way*/
	text-align: center;
}

a:hover{
	color: green;
	}

#menu{
	text-align: left;
	font-size: 12;
}