
h1{
	font-family: "Lucida Sans Unicode", serif;
	border-radius: 6px;
	background-color: rgba(192,192,192,0.5); /*transparent gray*/
	
	color: #e59400;
	font-size:90px; 
	text-align:center; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}

body{
	font-family: "Calibri", sans-serif;
	margin: 20px;
	/*text-align:center;*/
	font-size: 13pt;
    background: white url(http://i68.photobucket.com/albums/i7/newphew92/fd3b869e-122d-4361-9889-50cf85e17d0f_zps5d4d4153.jpg) no-repeat top center;
    /*          bg colour image         repeat-y: repeat on yaxis; bg position*/

}

p{
	padding: 10px;
	border-radius: 6px;
	background-color: rgba(200,200,200,0.8);

}

li{
	list-style: none;
	font-size:12pt;

}
a{
	font-size: 15pt;

	/*display: block;*/
	/*why the hell does display block works this way*/
	text-align: center;
}

a:hover{
	color: green;
	}

#menu{
	text-align: center;
	font-size: 12pt;
	border: black solid;
	margin: 5%;
	background-color: white;
}

.right{
	float:right;
	font-size: 15pt;
}

.submitButton{
	text-align: center;
	width: 200px; height: 60px;
	font-size: 15 pt;
	font-family: "Times New Roman";
}
